.d-flex{ display: flex; }
.flex-col{ flex-direction: column; }
.flex-row{ flex-direction: row; }
.flex-grow-1{ flex-grow: 1; }
.h-100{ height:100%;}
.h-100vh{ height: 100vw; }
.w-100{ width: 100%; }
.w-100vw{ width:100vw; }
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.bg-dark{ background-color: #0d0d0d; }
.bg-light{ background-color: #f3f3f3; }
.text-dark{ color: #0d0d0d; }
.text-light{ color: #d3d3d3; }

.reset,html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.darktheme{
	background-color: #0d0d0d;
	color: #d3d3d3;
}

/*---------------------------------*/
body{
	height:100%;
	display:flex;
	flex-direction:column;
}
flex-fill{
	flex-grow:1;
}
row-head{
	text-align: center;
	font-size: 2em;
}
row-head2{
	text-align:center;
	font-size:1.5em;
}
row-center{
	text-align: center;
}
row-hlist{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
text-desc{
	text-align:left;
	font-style: italic;
	font-size: 0.8em;
	color:#7f7f7f;
}
pledge-card{
	border: 1px solid #5a5a5a;
	padding: 0.25em;
}

a:active div{
	display: none;
}